
<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>


  <% if !current_user.nil? %>

     <div class="field column is-14">
      <div class="control">
        <%= f.input :body , required: true, input_html: { class:"input"}, wrapper: false, label: false%>
        <%= f.hidden_field :product_id, input_html: {value: comment.product.id} %>
        <%= f.hidden_field :user_name, input_html: {value: current_user.name} %>
        <%= f.hidden_field :cid, input_html: {value: current_user.id} %>
      </div><br/>
      <div class="control">
        <%= f.button :submit, class: 'button is-dark' %>
      </div>
        
    </div>
  <% end %>
<% end %>
