


<% content_for :header do %>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Here are your listings <%= current_user.name %>
      </h1>
    </div>
  </div>
</section>
<% end %>

<!--  only show what current user has posted     -->

<div class="instrument-index-grid pt4">

  <% @products.each do |product| %>
  <% if product.user.id == current_user.id %>

    <div class="card">
      <div class="card-content">
        <h3 class="fw7 f4 title"><%= link_to product.title, product %></h3>
      
      <%= link_to image_tag(product.image.url(:thumb)), product  %>
        <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>

        <div class="buttons pt3">
          <%= link_to 'Edit', edit_product_path(product), class:'button is-small' %>
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class:'button is-small' %>
        </div>
                <p class="has-text-grey has-text-left f6 pt1">On sale by <%= product.user.name %></p>

      </div>

    </div>
  <% end %>
 <% end %>
 </div>
     

      


